html{
  scroll-behavior: smooth;
}
.main{
  overflow: scroll;
}
body {
  background-color:black;
}
.para{
  color: linen;
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.splitc {
  height: 45%;
  width: 100%;
  position: fixed;
}
.top {
  top: 0;
  background-color: transparent;
}
.bottom {
  bottom: 0;
  background-color: transparent;
}

.frontpage1{
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  font-family: 'Rubik', sans-serif;;
}
.frontpage1a{
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.frontpage2{
  color: rgb(200, 245, 0);
  font-size: 25px;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 10px 20px;
  justify-content: center; 
}

.icons {
  font-size: 36pt;
  color: whitesmoke;
  word-spacing: 15px;
}

.icons a:hover {
  color: rgb(189, 189, 189);
  transition: ease-in 170ms;
  cursor: pointer;
}

.container2 {
  display: flex;
  bottom: 0;
  flex-direction: row;
  gap: 20px;
  justify-content: center; 
}

.lol{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#time{
    display: flex;
    position: absolute;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    width:100%;  
}

button{
  background-color:black;
  color: white;
  border: none;
  font-family: 'Roboto Mono', monospace;
  border-radius: 15px;
}
button:hover{
  background-color:gray;
  color: black;
  transition: ease-in 170ms;
  cursor: pointer;
  border: none;
  font-family: 'Roboto Mono', monospace;
  border-radius: 15px;
}